name: Build Toolbox

on: [push, pull_request]

jobs:
  build:
    name: Build Toolbox
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Organize Toolbox Dependencies
        run: |
            pip3 install -r requirements_doc.txt
            make -C CI/gen_doc doc

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
            release: R2025b
      - name: Compile Toolbox
        uses: matlab-actions/run-command@v2
        with:
            command: cd('CI/scripts');genTlbx(1);exit()

      - name: Move generated .mltbx file
        run: |
            mkdir toolbox
            cp *.mltbx toolbox

      - name: Save generated .mltbx file
        uses: actions/upload-artifact@v4
        with:
          name: PrecisionToolboxInstaller
          path: toolbox

      - name: Post development build to GH releases page
        uses: "marvinpinto/action-automatic-releases@latest"
        if: github.ref == 'refs/heads/main'
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Development Build"
          files: toolbox
